<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home</welcome-file>
    </welcome-file-list>
    <context-param>
        <param-name>user</param-name>
        <param-value>vinhnthe163219@fpt.edu.vn</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value></param-value>
    </context-param>
    <servlet>
        <servlet-name>Home</servlet-name>
        <servlet-class>Controller.Home</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TOCController</servlet-name>
        <servlet-class>Controller.product.content.TOCController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddChapterController</servlet-name>
        <servlet-class>Controller.product.content.AddChapterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditChapterController</servlet-name>
        <servlet-class>Controller.product.content.EditChapterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteChapterController</servlet-name>
        <servlet-class>Controller.product.content.DeleteChapterController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Home</servlet-name>
        <url-pattern>/Home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TOCController</servlet-name>
        <url-pattern>/User/Novels/TOC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddChapterController</servlet-name>
        <url-pattern>/User/Novels/AddChapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditChapterController</servlet-name>
        <url-pattern>/User/Novels/EditChapter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteChapterController</servlet-name>
        <url-pattern>/User/Novels/DeleteChapter</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
